@charset "UTF-8";

/*
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500&display=swap');
*/

@font-face {
    font-family: 'Space Grotesk';
    font-feature-settings: "ss02", "ss03", "ss04";
    src: url("fonts/SpaceGrotesk[wght].woff2") format("woff2");
}

:root {
      --bs-body-font-family: 'Space Grotesk', sans-serif;
}

html, body{
    min-height: 100%;
}

.border-bottom {
    border-bottom: 2px solid #5565F1 !important;
}

.border-top {
    border-top: 2px solid #5565F1 !important;
}

body {
    color: #5565F1;
    font-size: 1.25rem;
    background: #aaccee;
}

.row {
    font-size: 1.5rem;
    text-align: center;
}

h1 span:first-child{
    font-weight: 600;
}

/*
a {
    color: #237;
}
*/

a{
    color: #5565F1;
    text-decoration: none;
    border-bottom: 2px solid currentColor;
}

a:hover {
    color: #5565F1;
    text-decoration: none;
    border-bottom: 0;
}